body {
  font-family: 'MesloLGS NF', sans;
}

main {
  display: grid;
  margin: auto;
  place-content: center;
  align-items: center;
  width: 50vw;
}

h1,
h2 {
  text-align: center;
  margin-right: 2rem;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.sideby {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
p {
  pointer-events: none;
}
